<div class="container-fluid">
  <h2>Health packages</h2>
  <p>Take charge of your health today with our specially designed health packages</p>
  <p class="line"></p>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card c1">
          <div class="card-header ch">Basic Fit 1 Package</div>
          <div class="card-header ch1">
              <strong>$33.99 / one time</strong>
          </div>
          <div class="card-body">
                <p>Anthropometry (BMI, WH Ratio) &nbsp;<i class="fa fa-check"></i></p><hr>
                <p>Post Examination Review &nbsp;<i class="fa fa-check"></i></p><hr>
                <p>General Screening – Basic &nbsp;<i class="fa fa-check"></i></p><hr>
                <p class="cross">Health Screening Report &nbsp;<i class="fa fa-close"></i></p>
          </div>
          <div class="card-footer"><button class="btn btn-info">Purchase</button></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header cf">Golden Glow Package</div>
          <div class="card-header ch2">
                <strong>$65.99 / one time</strong>
            </div>
          <div class="card-body">
                <p>Anthropometry (BMI, WH Ratio) &nbsp;<i class="fa fa-check"></i></p><hr>
                <p>Post Examination Review &nbsp;<i class="fa fa-check"></i></p><hr>
                <p>General Screening – Basic &nbsp;<i class="fa fa-check"></i></p><hr>
                <p>Body Composition Analysiss &nbsp;<i class="fa fa-check"></i></p><hr>
                <p>GR Assessment & Scoring &nbsp;<i class="fa fa-check"></i></p>
          </div>
          <div class="card-footer cf"><button class="btn btn-info">Purchase</button></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card c1">
          <div class="card-header ch">Basic Fit 2 Package</div>
          <div class="card-header ch1">
                <strong>$47.99 / one time</strong>
            </div>
          <div class="card-body">
                <p>Anthropometry (BMI, WH Ratio) &nbsp;<i class="fa fa-check"></i></p><hr>
                <p>Post Examination Review &nbsp;<i class="fa fa-check"></i></p><hr>
                <p>General Screening – Basic &nbsp;<i class="fa fa-check"></i></p><hr>
                <p class="cross">Health Screening Report &nbsp;<i class="fa fa-close"></i></p>
          </div>
          <div class="card-footer"><button class="btn btn-info">Purchase</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
