<div class="container">
  <h3>Our facilities</h3>
  <p class="line"></p>

  <div id="demo" class="carousel slide" data-ride="carousel">

    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
    </ul>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <img class="col-md-3" src="../assets/m1.jpg" width="250px" height="200px">
          <img class="col-md-3" src="../assets/m2.jpg" width="250px" height="200px">
          <img class="col-md-3" src="../assets/m3.jpg" width="250px" height="200px">
          <img class="col-md-3" src="../assets/m4.jpg" width="250px" height="200px">
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <img class="col-md-3" src="../assets/m5.jpg" width="250px" height="200px">
          <img class="col-md-3" src="../assets/m6.jpg" width="250px" height="200px">
          <img class="col-md-3" src="../assets/m7.jpg" width="250px" height="200px">
          <img class="col-md-3" src="../assets/8.jpg" width="250px" height="200px">
        </div>
      </div>

    </div>
  </div>
</div>
