<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
                <b><h1>Medicio medical group</h1></b>
                <h3>Provide best quality healthcare for you</h3>
                <div class="card">
                    <div class="row">
                    <i class="fa fa-check col-md-1"></i> 
                    <h5 class="col-md-11">Affordable monthly premium packages</h5></div>
                    <div class="row">
                    <i class="fa fa-check col-md-1"> </i>
                    <h5 class="col-md-11">Choose your favourite doctor</h5></div>
                    <div class="row">
                    <i class="fa fa-check col-md-1"> </i>
                    <h5 class="col-md-11">Only use friendly environment</h5></div>
                    <button class="btn btn-info">LEARN MORE ></button>
                </div>
        </div>
        <div class="col-md-6">
            <img src="../assets/med1.jpg" width="400px" height="400px">
        </div>
    </div>
</div>