.container-fluid{
    background-image: linear-gradient(rgba(252, 247, 247, 0.911), rgba(0,0,0,0.7)),url("D:/angular/task/src/assets/midbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    padding: 35px 0 0 60px;
}

.card{
    background: linear-gradient(rgba(252, 246, 246, 0.7), rgba(248, 240, 240, 0.6));
    width: 450px;
    height: 300px;
    padding: 20px;
    margin-top: 5%;
}

.card:hover{
    box-shadow: 10px 10px rgb(44, 44, 44);
}

.btn{
    width: 150px;
    margin-left: 220px;
    margin-top: 40px;
}

.fa{
    color: green;
    font-size: 30px;
}

.row{
    margin-bottom: 3%;
}

img{
    margin: 10px 0 0 20px;
}

img:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }