<div class="container-fluid">
        <h4>Our partner</h4>
        <p>Take charge of your health today with our specially designed health packages</p>
        <p class="line"></p>
        <div class="row">
            <img class="col-md-3" src="../assets/part1.jpg" width="50px">
            <img class="col-md-3" src="../assets/part2.jpg" width="50px">
            <img class="col-md-3" src="../assets/part3.jpg" width="50px">
            <img class="col-md-3" src="../assets/part4.jpg" width="50px">          
        </div>
</div>