<div class="container-fluid">
  <h3>DOCTORS</h3>
  <p class="line"></p>


  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" href="#all">ALL (4)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#cardio">CARDIOLOGIST (2)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#physcio">PSYCHIATRIST (1)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#neuro">NEUROLOGIST (1)</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane container active" id="all">
      <div class="row">
        <div class="col-md-3">
          <img src="../assets/doc1.jpg" width="250px" height="200px">
          <h5>Alice Grue</h5>
          <p>Psychiatrist</p>
        </div>
        <div class="col-md-3">
          <img src="../assets/doc2.jpg" width="250px" height="200px">
          <h5>Joseph Murphy</h5>
          <p>Cardiologist</p>
        </div>
        <div class="col-md-3">
          <img src="../assets/doc3.jpg" width="250px" height="200px">
          <h5>Alison Davis</h5>
          <p>Cardiologist</p>
        </div>
        <div class="col-md-3">
          <img src="../assets/doc4.jpg" width="250px" height="200px">
          <h5>Adam Taylor</h5>
          <p>Neurologist</p>
        </div>
      </div>
    </div>
    <div class="tab-pane container fade" id="cardio">
      <div class="row">
        <div class="col-md-3">
          <img src="../assets/doc2.jpg" width="250px" height="200px">
          <h5>Joseph Murphy</h5>
          <p>Cardiologist</p>
        </div>
        <div class="col-md-3">
          <img src="../assets/doc3.jpg" width="250px" height="200px">
          <h5>Alison Davis</h5>
          <p>Cardiologist</p>
        </div>
      </div>
    </div>
    <div class="tab-pane container fade" id="physcio">
      <img class="row" src="../assets/doc1.jpg" width="250px" height="200px">
      <h5>Alice Grue</h5>
      <p>Psychiatrist</p>
    </div>
    <div class="tab-pane container fade" id="neuro">
      <img class="row" src="../assets/doc4.jpg" width="250px" height="200px">
      <h5>Adam Taylor</h5>
      <p>Neurologist</p>
    </div>
  </div>
</div>
